.all {
    display: flex;
    justify-content: center;
    
}


.aboutall {
    padding: 15vh 0;
    justify-content: center;
    width: 60%;
    font-family: 'Poppins', sans-serif;
}

.aboutme {
    font-size: 3rem;
    color: black;
    font-weight: 700;
    text-align: center;
}

.intro {
    font-size: 1.3rem;
    color: rgb(80, 79, 79);
    text-align: center;
    margin-bottom: 10vh;
}

.summary {
    font-size: 1.5rem;
    color: rgb(80, 79, 79);
    
    word-break: break-word;
}

.image {
    width: 1050px;
    margin-top: 1vh;
    margin-right: 0vw;
    border-radius: 20px;
    margin-left: 2vw;
    overflow-y: hidden;
}



.svgaward1 {
    width: 30%;
    height: 30%;
    overflow-y: hidden;
    margin-left: 3.2vw;
    margin-top: 3px;
}

.years, .companies, .projects {
    font-size: .8rem;
}


.image img {
    width:450px;
    height: 370px;
    border-radius: 20px;
    
}

.personalinfo {
    display: flex;
    
}

.personalinfochild {
    width: 70vw;
    margin-right: 1vw;
    
}

.cards {
    display: flex;
    margin-top: 2.5vh;
    justify-content: space-between;
    overflow-y: hidden;
    height: 120px;
    color: #303030;
}

.cards div {
    margin-top: 1vh;
    width: 9vw;
    height: 100px;
    background-color: rgb(220, 221, 221);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.274);
    margin-bottom: 2px;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    transition: ease-out .2s;
}

.cards div:hover {
    transform: scale(1.05);
    
}

.number {
    font-size: 1.8rem;
    font-weight: 700;
    overflow-y: hidden;
}

.goto {
    
    margin-top: 3vh;
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: ghostwhite;
    overflow: hidden;
   }
   
  
   
   .goto span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
   }
   
   .goto::before,
   .goto::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .goto::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .goto:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   
   .goto:active {
    transform: scale(0.95);
   }

   .buttonscv {
    display: flex;

   }

   .cv {
    margin-right: 1vw;
    transition: ease-out .3s;
    
   }

  
   @media(max-width: 1440px) {
    .buttonscv {
        margin-top: 2vh;
        flex-direction: column;
    }

    .cv {
        margin-right: 0;
    }

    .image {
        margin-right: 3vw;
    }

    .image img {
    width: 400px;
    height: 370px;
    border-radius: 20px;
    
}
    
   }

   @media(max-width: 1024px) {
    .aboutall {
        width: 80%;
    }

    .image {
        width: 425px;
        height: 180px;
        margin-top: 8vh;
    }

    .image img {
        width: 425px;
        height: 180px;
    }

    .cards div {
        width: 20vw;
    }

    .svgaward1 {
        margin-left: 4.7vw;
    }

    
   }

  @media(max-width: 768px) {
    .cards div {
        margin-left: 2%;
        
    }

    .aboutall {
        width: 90%;
    }

    .number {
        font-size: 1.3rem;
    }

    .image {
        margin-right: 5vw;
    }
  }

   @media(max-width: 425px) {
    .personalinfo {
        flex-direction: column;
        margin-top: -10vh;
        text-align: center;
        align-items: center;
        
    }

    .personalinfochild {
        margin-top: 3vh;
        margin-left: 5%;
        
    }

    .summary {
        font-size: 1.2rem;
        
    }

    .cards div {
        margin-left: 2%;
    }

    
    .image {
        width: 80%;
        margin-left: 5%;
    }

    .svgaward1 {
        margin-left: 20vw;
    }
    .number {
        margin-top: -15px;
    }

    
   }

   @media(max-width: 425px) {
    .personalinfochild {
        margin-left: 6%;
        width: 70vw;
    }

    .cards {
        display: flex;
        flex-direction: column;
        transform: translate(10%);
        height: 320px;
        
    }

    .cards div {
        margin-left: 0%;
        font-size: .8rem;
        word-break: break-word;
        width: 240px;
        margin-bottom: 10px;
    }
    .number {
        font-size: 1.2rem;
        margin-top: 5px;
    }
    
    
   }

   @media(max-width: 375px) {
    .personalinfochild {
        margin-left: 6%;
        width: 70vw;
    }

    .cards {
        display: flex;
        flex-direction: column;
        transform: translate(10%);
        height: 320px;
        
    }

    .cards div {
        margin-left: 3%;
        font-size: .8rem;
        word-break: break-word;
        width: 200px;
        margin-bottom: 10px;
    }
    .number {
        font-size: 1.2rem;
        margin-top: 5px;

    }

    .svgaward1 {
        margin-left: 19vw;
    }
    
   }

   @media(max-width: 320px) {
    .svgaward1 {
        margin-left: 22vw;
    }

    .cards {
            
            transform: translate(5%);
    
    
        }
   }