body {
  background-color: rgb(230, 230, 230);
  overflow-x: hidden;
}

.sunmoon {
  margin-left: 3px;
  margin-top: 2px;
}


#dark .cards div {
  background-color: #363636;
  color: white;
  box-shadow: 2px 2px rgba(224, 223, 223, 0.274);
}

#dark {
  background-color: #1a1a1a;
}

#dark .img {
  border: #e6e5e5 2px solid;
}

#dark nav {
  background-color: #222222;
}

#dark .title {
  color: rgb(194, 191, 191);
}

#dark .about {
  color: rgb(214, 212, 212);
}

#dark .name {
  color: white;
}

#dark .clickme::before {
  background-color: rgb(226, 226, 226);
}

#dark .clickme {
  color: black;
}

#dark .linkhov {
  color: rgb(189, 187, 187);
}

#dark li:hover {
  border-bottom: .3vh solid rgb(231, 231, 231);
}

#dark a {
  color: rgb(216, 215, 215);
}

#dark .aboutme {
  color: white;
}

#dark .intro {
  color: rgb(192, 191, 191);
}

#dark .summary {
  color: rgb(218, 218, 218);
}
#dark button::before {
  background-color: aliceblue;
  
}

#dark .linkbtn {
  color: white;
}

#dark .gitbtn {
  color: white;
}

#dark button {
  color: #1a1a1a;
}

#dark .skilltitle {
  color: rgb(219, 218, 218);
}

#dark .percentage {
  color: rgb(221, 219, 219);
}

#dark .portfolio_title {
  color: white;
}

#dark .portfolio_desc {
  color: rgb(214, 212, 212);
}


#dark .nav-list-active {
  background-color: #222222;
  color: white;
}

#dark .nav-list {
  background-color: #222222;
  color: white;
}

#dark .skillh1 {
  color: white;
}

#dark .line1change {
  background-color: white;
}

#dark .line2change {
  background-color: white;
}

#dark .line3change {
  background-color: white;
}

#dark .line1 {
  background-color: white;
}

#dark .line2 {
  background-color: white;
}

#dark .line3 {
  background-color: white;
}