* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


nav {
    background-color: rgb(229, 231, 231);
    height: 8vh;
    justify-content: space-around;
    display: flex;
    align-items: center;
    
}

a {
    color: rgb(54, 56, 58);
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    opacity: 0.8;
}

h1 {
    font-size: 26px;
    letter-spacing: 3px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 30px;
    font-size: 18px;
}

/* Responsiveness */
.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: black;
    margin: 8px;
    transition: .3s;
    position: sticky
}


@media(max-width: 425px) {
    
   
    .nav-list, .nav-list-active {
        position: absolute;
        top: 8vh;
        left: 100vw;
        width: 100vw;
        height: 92vh;
        flex-direction: column;
        background-color: rgb(229, 231, 231);
        transform: translateX(0%);
        transition: 0.3s ease-in-out;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
        overflow: hidden;
    }

    .nav-list-active {
        left: 0;
    }

    .mobile-menu {
        display: block;
        
    }

    .line1change {
        transform: rotate(-45deg) translate(-8px, 8px);
        transition: .3s;
    }
    .line2change {
        opacity: 0;
        transition: .3s;
    }
    .line3change {
        transform: rotate(45deg) translate(-5px, -7px);
        transition: .3s;
    }
}