.skillaround {
    padding: 10vh 0;
    font-family: 'Poppins', sans-serif;
}

.skillscolunas {
    display: flex;
    justify-content: center;
}
.allSkills {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    
}
.skillh1 {
    margin-bottom: 3vh;
}
.skilltitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.skillname {
    font-size: 1.5rem;
    
}

.percentage {
    font-size: 1.2rem;
    color: rgb(80, 79, 79); 
}

.skill {
    margin-bottom: 2vh;
    justify-content: center;   
}

.percbar, .skillperc {
    height: 6px;
    border-radius: .25rem;
}

.percbar {
    background-color: #8c8ee7;
}

.skillperc {
    display: block;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}

.skillhtmlpercentage {
    width: 90%;
}

.skillcsspercentage {
    width: 85%;
}

.skilljspercentage {
    width: 70%;
}

.skillreactpercentage {
    width: 75%;
}

.skillpythonpercentage {
    width: 50%;
}

.skillawspercentage {
    width: 80%;
}

.skillsqlpercentage {
    width: 70%;
}

.skillnodepercentage {
    width: 50%;
}

.skillofficepercentage {
    width: 85%;
}

.skillmdpercentage {
    width: 90%;
}

.skillphotoshoppercent {
    width: 55%;
}

.skillsasspercentage {
    width: 60%;
}

.skillenglishpercentage {
    width: 95%;
}

@media(max-width: 425px) {
    .skillscolunas {
        
        display: flex;
        flex-direction: column;
    }

    .allSkills {
        width: 85%;
        margin-bottom: 7vh;
    }
}